In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
ktm = pd.read_csv(r'../data/Kathmandu.csv')
ktm.head()

      station particulate_matter               datetime value
0  Bhaisipati                 PM1  2019-06-20T08:58:00Z   3.7
1  Bhaisipati                 PM1  2019-06-20T09:08:00Z   3.6
2  Bhaisipati                 PM1  2019-06-20T09:18:00Z   3.5
3  Bhaisipati                 PM1  2019-06-20T09:38:00Z   3.8
4  Bhaisipati                 PM1  2019-06-20T09:48:00Z   4.1

In [26]:
ktm.shape

(89544, 4)

In [22]:
ktm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89886 entries, 0 to 89885
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   station              89886 non-null  object
 1   particulate_matter   89886 non-null  object
 2   datetime             89886 non-null  datetime64[ns, UTC]
 3   value                89886 non-null  object
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 2.7+ MB

In [18]:
ktm['particulate_matter '].value_counts()

particulate_matter
TSP      22628
PM10     22609
PM2.5    22579
PM1      22070
Name: count, dtype: int64

In [20]:
ktm['datetime'] = pd.to_datetime(ktm['datetime'], utc=True, errors='coerce')

In [25]:
ktm.head()

      station particulate_matter                   datetime value
0  Bhaisipati                 PM1 2019-06-20 08:58:00+00:00   3.7
1  Bhaisipati                 PM1 2019-06-20 09:08:00+00:00   3.6
2  Bhaisipati                 PM1 2019-06-20 09:18:00+00:00   3.5
3  Bhaisipati                 PM1 2019-06-20 09:38:00+00:00   3.8
4  Bhaisipati                 PM1 2019-06-20 09:48:00+00:00   4.1

In [23]:
ktm.isnull().sum()

station                0
particulate_matter     0
datetime               0
value                  0
dtype: int64

In [24]:
ktm = ktm.drop_duplicates()

In [29]:
ktm['value'] = ktm['value'].astype(float)
ktm['particulate_matter '] = ktm['particulate_matter '].astype('category')

ValueError: could not convert string to float: '1078-01-01T00:00:00Z'

In [27]:
ktm = ktm[(ktm['value']>=0) & (ktm['value']<=500)]

TypeError: '>=' not supported between instances of 'str' and 'int'