In [1]:
import pandas as pd

In [2]:
ktm = pd.read_csv(r'../data/Kathmandu.csv')
bkt = pd.read_csv(r'../data/Bhaktapur.csv')

In [3]:
ktm.head()

      station particulate_matter               datetime value
0  Bhaisipati                 PM1  2019-06-20T08:58:00Z   3.7
1  Bhaisipati                 PM1  2019-06-20T09:08:00Z   3.6
2  Bhaisipati                 PM1  2019-06-20T09:18:00Z   3.5
3  Bhaisipati                 PM1  2019-06-20T09:38:00Z   3.8
4  Bhaisipati                 PM1  2019-06-20T09:48:00Z   4.1

In [4]:
bkt.head()

     station particulate_matter               datetime value
0  Bhaktapur                 PM1  2019-06-20T08:49:00Z   2.9
1  Bhaktapur                 PM1  2019-06-20T08:59:00Z   3.0
2  Bhaktapur                 PM1  2019-06-20T09:09:00Z   3.2
3  Bhaktapur                 PM1  2019-06-20T09:19:00Z   2.9
4  Bhaktapur                 PM1  2019-06-20T09:29:00Z   2.6

In [5]:
ktm['datetime'] = pd.to_datetime(ktm['datetime']).dt.date
ktm = ktm.sort_values(['station', 'datetime'])
ktm.head()

          station particulate_matter     datetime value
15332  Bhaisipati                 PM1  2018-12-31  32.1
15333  Bhaisipati                 PM1  2018-12-31  31.3
15334  Bhaisipati                 PM1  2018-12-31  35.3
15335  Bhaisipati                 PM1  2018-12-31  26.1
15336  Bhaisipati                 PM1  2018-12-31  29.5

In [6]:
ktm.tail()

          station particulate_matter     datetime value
83518  Bhaisipati                 TSP  2020-05-09  61.1
83519  Bhaisipati                 TSP  2020-05-09  29.3
83520  Bhaisipati                 TSP  2020-05-09  20.6
83521  Bhaisipati                 TSP  2020-05-09  26.7
83522  Bhaisipati                 TSP  2020-05-09  48.4

In [7]:
ktm['particulate_matter '].value_counts()

particulate_matter
TSP      22628
PM10     22609
PM2.5    22579
PM1      22070
Name: count, dtype: int64

In [8]:
ktm.shape

(89886, 4)

In [9]:
ktm.groupby(['particulate_matter ', 'datetime'])['value'].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
ktm.isnull().sum()

station                0
particulate_matter     0
datetime               0
value                  0
dtype: int64