In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv(r'../data/NepalLatestAQI.csv')
dataset.head()

,date,station,latitude,longitude,aqi,pm2_5,pm10,no2,so2,o3,temperature_C,relative_humidity_%,notes
0,2024-01-01,Kathmandu,27.7172,85.3240,162,75.9,161.5,18.5,8.0,16.2,20.9,65.2,NaN
1,2024-01-01,Lalitpur,27.6648,85.3188,157,66.9,105.9,18.2,4.2,34.1,28.8,76.2,NaN
2,2024-01-01,Bhaktapur,27.6714,85.4270,166,84.8,182.9,16.4,7.1,26.7,20.3,60.9,NaN
3,2024-01-01,Pokhara,28.2096,83.9856,79,25.5,47.8,2.0,1.0,31.7,23.0,47.9,NaN
4,2024-01-01,Biratnagar,26.4525,87.2718,146,53.8,86.3,17.2,1.9,34.5,23.9,54.1,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 9840 non-null   object
 1   station              9840 non-null   object
 2   latitude             9840 non-null   float64
 3   longitude            9840 non-null   float64
 4   aqi                  9840 non-null   int64
 5   pm2_5                9840 non-null   float64
 6   pm10                 9840 non-null   float64
 7   no2                  9840 non-null   float64
 8   so2                  9840 non-null   float64
 9   o3                   9840 non-null   float64
 10  temperature_C        9840 non-null   float64
 11  relative_humidity_%  9840 non-null   float64
 12  notes                79 non-null     object
dtypes: float64(9), int64(1), object(3)
memory usage: 999.5+ KB